<section class="container-fluid">
    <h1>{{{title}}}</h1>
    <hr class='my-4'>
    <div class="row">
        <div class="col-lg-4 col-sm-4 ">
            <h2>Voters</h2>
            <select name="Voters">
                {{#each voterList}}
                <option value="{{address}}"
                        {{#selected}}selected="selected"
                        {{/selected}}>
                    {{name}}
                </option>
                {{/each}}
            </select>
        </div>
        <div class="col-lg-4 col-sm-4 ">
            <h2>Candidates</h2>
            <select name="Candidates"
                    size={{candidateList.length}}>
                {{#each candidateList}}
                <option value="{{name}}"
                        {{#selected}}selected="selected"
                        {{/selected}}>
                    {{name}} (Party: {{party}})
                </option>
                {{/each}}
            </select>
        </div>
        <div class="col-lg-4 col-sm-4 ">
            <br>
            <input type="submit"
                   class="btn btn-info"
                   value="Vote" />
        </div>
    </div>
</section>